/* flex-direction (row, reverse row, column, reverse column */
/* justify-content */
/* align-items */

.app{
  border-color:aqua;
  border-style: solid;
}


/* ------------------------------ */
/* Home Display*/
/* ------------------------------ */


.container{
  display: flex;
  justify-content: center;
  border-color: red;
  border-style: solid;
  width: 33%;
  margin: auto
}

.charHome{
  border-color: green;
  border-style: solid;
  text-align: center;
  margin:1rem;
  padding: 0.5rem;
}

/* ------------------------------ */
/* Character View/Edit */
/* ------------------------------ */

.charContainer {
  display:flex;
  flex-direction: row;
  justify-content: center;
  border-color: purple;
  border-style: solid;
}

.charBase{
  border-color: blueviolet;
  border-style: dotted;
  justify-content: center;
  margin: 0.5rem
}

.statBlock{

  border-color: green;
  border-style: solid;
  width: 15rem;
  text-align: center;
}

.statContainer{
  display: flex;
  flex-direction: column;
  border-color: greenyellow;
  border-style:groove;
}

.statMod {
  border-color: green;
  border-style: dotted;
  border-radius: 50%;
  width:15%;
  margin: auto;
}

/* ------------------------------ */
/* Buttons */
/* ------------------------------ */

.deleteButton{
  margin: 1rem;
}

.linkButton {
  border-color: black;
  border-style: solid;
}

.linkButtonDiv{

  display: flex;
  justify-content: center;
  align-items: center;
  
}

/* ------------------------------ */
/* Lists */
/* ------------------------------ */

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}