/* flex-direction (row, reverse row, column, reverse column */
/* justify-content */
/* align-items */

.app{
  border-color:aqua;
  border-style: solid;
}

.container{
  display: flex;
  justify-content: center;
  border-color: red;
  border-style: solid;
  width: 33%;
  margin: auto
}

.charHome{
  border-color: green;
  border-style: solid;
  margin:1rem;
  padding: 0.5rem;
}

.deleteButton{
  margin: 1rem;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}